<div class="w-1/4 mb-8 px-2">
    <a href="{% url 'rooms:detail' room.pk %}">
        <div class="w-full h-60 bg-cover bg-center rounded-lg" style="background-image:url({{room.first_photo}})"></div>
        <div class="flex justify-between my-2">
            <div>
                {% if room.host.is_superhost %}
                <span class="uppercase font-semibold border border-black text-black rounded px-1 py-px mr-1">superhost</span>
                {% endif %}
                <span class="text-gray-500 text-sm font-light truncate ...">{{room.city}} &middot; {{room.country.name}}</span>
            </div>
            <div class="flex items-center">
                <i class="fas fa-star text-pink-600 text-xs mr-1"></i>
                {{room.total_rating}}
            </div>
        </div>
        <div class="text-black truncate ...">{{room.name}}</div>
    </a>
</div>