{% extends 'base.html' %}

{% block page_title %}
    Edit Photo
{% endblock page_title %}

{% block search-bar %}{% endblock search-bar %}

{% block content %}

    <div class="wrap-user">

        {% include 'mixins/auth/auth_form.html' with form=form cta="Update photo" %}

        <div class="mt-4 text-sm w-full text-center">
            <span class="mr-2"><a href="{% url 'rooms:photos' photo.room.pk %}" class="text-teal-600 font-bold">Back to photos</a>
        </div>
    </div>

{% endblock content %}