{% extends 'base.html' %} {% block page_title %}Home{% endblock page_title %} 

{% block content %}

    <h1>Rooms List</h1>

    {% for room in object_list %}
    <h2>{{room.name}} / ${{room.price}}</h2>
    {% endfor %}

    <!-- https://docs.djangoproject.com/en/4.1/ref/templates/builtins/ 참조 -->
    <h5>
    {% if page_obj.has_previous %}
    <a href="?page={{page_obj.previous_page_number}}">Previous</a>
    {% endif %} Page {{page_obj.number}} of {{page_obj.paginator.num_pages}} 
    {% if page_obj.has_next %}
    <a href="?page={{page_obj.next_page_number}}">Next</a>
    {% endif %}
    </h5>

{% endblock content %}
