{% extends 'base.html' %} 
{% load i18n on_favs %}

{% block page_title %}{{room.name}}{% endblock page_title %} 

{% block content %}

<div class="container max-w-7xl mx-auto pt-8">
    <div>
        <div class="flex items-center">
            <h2 class="text-3xl font-bold">{{room.name}}</h2>
            <div class="ml-4">
            {% on_favs room as on_favs_boolean %}
            {% if on_favs_boolean %}
                <a href="{% url 'lists:toggle' room.pk %}?action=remove" class="c-btn-link btn--small">Remove Favorite List</a>
            {% else %}
                <a href="{% url 'lists:toggle' room.pk %}?action=add" class="c-btn-link btn--small bg-teal-600">Add Favorite List</a>
            {% endif %}
            </div>
        </div>
        <ul class="flex gap-4 mt-2">
            <li><i class="fas fa-star fa-sm mr-1"></i><span class="sr-only">total rating:</span>{{room.total_rating}}</li>
            <li><i class="far fa-eye fa-sm mr-1"></i><span class="sr-only">view counts:</span>{{room.reviews.count}}</li>
            <li><i class="fas fa-flag fa-sm mr-1"></i><span class="sr-only">country:</span>{{room.country.name}}</li>
            <li><i class="fas fa-building fa-sm mr-1"></i><span class="sr-only">city:</span>{{room.city}}</li>
            {% if room.host.is_superhost %}
            <li class="text-sm border border-gray-500 rounded font-bold px-2">SUPERHOST</li>
            {% endif %}
            <li>
        </ul>
    </div>

    <div class="h-50vh w-full flex mt-8">
        <div class="h-full w-1/2 bg-cover border-4 border-white rounded-tl-2xl rounded-bl-2xl" style="background-image:url({{room.first_photo}})"></div>
        <div class="h-full w-1/2 flex flex-wrap">
        {% for photo in room.get_next_four_photos %}
            <div class="h-1/2 w-1/2 bg-cover border-4 border-white {% if forloop.counter == 2 %}rounded-tr-2xl{% elif forloop.counter == 4 %}rounded-br-2xl{% endif %} " style="background-image:url({{photo.file.url}})"></div>
        {% endfor %}
        </div>
    </div>

    <div class="mt-8 w-full flex justify-between">
        <div class="w-2/3">
            <div class="flex justify-between items-center pb-4 border-b mb-8">
                <div>
                    <h3 class="text-2xl">
                        {{room.room_type}} information hosted by <a class="font-bold text-teal-700" href="{{room.host.get_absolute_url}}">{{room.host.first_name}}</a>
                    </h3>
                    <ul class="flex gap-x-4">
                        <li>{% trans "Max Guests" %}: {{room.guests}}</li>
                        <li>{% trans "Bed rooms" %}: {{room.bedrooms}}</li>
                        <li>{% trans "Beds" %}: {{room.beds}}</li>
                        <li>{% trans "Baths" %}: {{room.baths}}</li>
                    </ul>
                </div>
                <div>
                    {% include 'mixins/user_avatar.html' with user=room.host %}
                </div>
            </div>
            <div class="border-section">
                <p>{{room.description}}</p>
            </div>
            <div class="border-section">
                <h4>{% trans "Amenities" %}</h4>
                <ul class="w-full flex flex-wrap list-disc list-inside">
                {% for a in room.amenities.all %}
                    <li class="w-1/2">{{a}}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="border-section">
                <h4>{% trans "Facilities" %}</h4>
                <ul class="w-full flex flex-wrap list-disc list-inside">
                {% for f in room.facilities.all %}
                    <li class="w-1/2">{{f}}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="border-section">
                <h4>{% trans "House Rules" %}</h4>
                <ul class="w-full flex flex-wrap list-disc list-inside">
                {% for h in room.house_rules.all %}
                    <li class="w-1/2">{{h}}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="border-section border-none">
                <div class="flex items-center gap-8">
                    <h4 class="text-2xl mb-0">{% trans "Reviews" %}</h4>
                    <ul class="flex gap-4 items-center">
                        <li>
                            <i class="fas fa-star fa-sm text-teal-700"></i>
                            <span class="sr-only">total rating:</span>
                            <span class="font-bold text-xl">{{room.total_rating}}</span>
                        </li>
                        <li><span class="font-bold text-xl">{{room.reviews.count}}</span> review{{room.reviews.count|pluralize}}</li>
                    </ul>
                </div>
                <div class="flex flex-col">
                    {% for review in room.reviews.all %}
                    <div class="py-8 border-b">
                        <div class="flex items-center mb-4">
                            <div>
                                {% include 'mixins/user_avatar.html' with user=review.user w_and_h="w-14 h-14" text="text-2xl" %}
                            </div>
                            <div class="flex flex-col ml-4">
                                <span class="font-bold text-lg">{{review.user.first_name}}</span>
                                <span class="text-gray-700">{{review.created_at|date:"F Y"}}</span>
                            </div>
                        </div>
                        <p>{{review.review}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="w-1/3 ml-12">
        {% if room.host == user %}
            <a href="{% url 'rooms:edit' room.pk %}" class="c-btn-link block">Edit Room</a>
        {% else %}
            {% if not request.session.is_hosting %}
                {% for calendar in room.get_calendars %}
                <div class="w-full">
                    <h4 class="text-center">{{calendar.get_month}}/{{calendar.year}}</h4>
                    <table class="calendar">
                        <thead>
                            <tr>
                            {% for day in calendar.day_names %}
                                <th scope="col">{{day}}</th>
                            {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for week in calendar.get_days %}
                            <tr>
                                {% for cal_date in week %}
                                {% include 'mixins/cal_day.html' with cal_date=cal_date %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                    
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            {% endif %}
        {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
