{% extends 'base.html' %} 

{% block page_title %}Home{% endblock page_title %} 

{% block content %}

    <div class="container rounded-2xl bg-gray-800 h-50vh my-12 bg-cover bg-center" style="background-image:url(https://images.unsplash.com/photo-1546874177-9e664107314e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80)"></div>

    <div class="flex flex-wrap mb-4">
    {% for room in rooms %}
        {% include 'partials/room_card.html' %}
    {% endfor %}
    </div>

    <!-- https://docs.djangoproject.com/en/4.1/ref/templates/builtins/ 참조 -->
    <div class="flex items-center justify-center text-lg">
        {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}" aria-label="Previous page" class="text-teal-600"><i class="fas fa-arrow-left fa-lg"></i></a>
        {% endif %} 
        
        <span class="mx-2">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>
        
        {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}" aria-label="Next page" class="text-teal-600"><i class="fas fa-arrow-right fa-lg"></i></a>
        {% endif %}
    </div>

{% endblock content %}
