{% extends 'base.html' %} 

{% block page_title %}{{room.name}}{% endblock page_title %} 

{% block content %}

<div class="container max-w-7xl mx-auto">
    <div>
        <h1>{{room.name}}</h1>
        <h3>{{room.description}}</h3>
    </div>

    <div class="h-50vh w-full flex">
        <div class="h-full w-1/2 bg-cover border-4 border-white rounded-tl-2xl rounded-bl-2xl" style="background-image:url({{room.first_photo}})"></div>
        <div class="h-full w-1/2 flex flex-wrap">
        {% for photo in room.get_next_four_photos %}
            <div class="h-1/2 w-1/2 bg-cover border-4 border-white {% if forloop.counter == 2 %}rounded-tr-2xl{% elif forloop.counter == 4 %}rounded-br-2xl{% endif %} " style="background-image:url({{photo.file.url}})"></div>
        {% endfor %}
        </div>
    </div>
</div>




<div>
    <h2>
        By: <a href="{{room.host.get_absolute_url}}">{{room.host.username}}</a>
        {% if room.host.superhost %}
            (superhost)
        {% endif %}
    </h2>

    <h3>Amenities</h3>
    <ul>
    {% for a in room.amenities.all %}
        <li>{{a}}</li>
    {% endfor %}
    </ul>

    <h3>Facilities</h3>
    <ul>
    {% for f in room.facilities.all %}
        <li>{{f}}</li>
    {% endfor %}
    </ul>

    <h3>House Rules</h3>
    <ul>
    {% for h in room.houserules.all %}
        <li>{{h}}</li>
    {% endfor %}
    </ul>
</div>

{% endblock content %}
