@tailwind base;
@tailwind components;

.search-box {
    @apply border px-5 py-3 placeholder-gray-700 outline-none transition-shadow duration-300 rounded w-full shadow-md hover:shadow-lg focus:shadow-lg;
}

.nav_link {
    @apply mx-4 border-b-2 border-b-white hover:border-gray-600 px-2 h-full flex items-center;
    a {
        @apply flex w-full h-full items-center justify-center;
    }
}

@tailwind utilities;