@tailwind base;
@tailwind components;

.search-box {
    @apply border px-5 py-3 placeholder-gray-700 outline-none transition-shadow duration-300 rounded w-full shadow-md hover:shadow-lg focus:shadow-lg;
}

.nav_link {
    @apply mx-4 border-b-2 border-b-white hover:border-gray-600 px-2 h-full flex items-center;
    a {
        @apply flex w-full h-full items-center justify-center;
    }
}

.wrap {
    @apply container mx-auto flex flex-col items-center border border-gray-400 mt-12 p-8;
}
.wrap-user {
    @apply container mx-auto flex flex-col items-center border border-gray-400 mt-12 p-8 w-96;
}

.c-btn-full {
    @apply w-full border-2 text-center rounded-md py-4 mb-2 text-white bg-red-600 border-red-900;
    &.btn--small {
        @apply py-3;
    }
}
.c-btn-link {
    @apply w-full border border-red-900 text-center rounded-md py-3 text-white bg-red-600;
}

input, select {
    @apply w-full border-2 rounded-md py-4 text-left px-6 focus:outline-teal-500 placeholder:focus:outline-2 border-gray-400 placeholder-gray-600;
}

textarea {
    resize: none;
    @apply h-32 w-full border-2 rounded-md text-left p-2 focus:outline-teal-500 placeholder:focus:outline-2 border-gray-400 placeholder-gray-600;
}

.row-input {
    @apply mb-2;
    &.has-error {
        input {
            @apply bg-red-200 border-red-800;
        }
    }
}

.border-section {
    @apply mb-8 pb-8 border-b;
}

h4 {
    @apply font-bold text-xl mb-4;
}

.calendar {
    @apply w-full mb-8;
    th {
        @apply text-center p-2;
    }
    td {
        @apply text-center p-2;
    }
}

@keyframes messageFadeIn {
    0% { opacity: 0; transform: translateY(0); }
    5% { opacity: 1; transform: translateY(.75rem); }
    95% { opacity: 1; transform: translateY(.75rem); }
    100% { opacity: 0; transform: translateY(0); }
}
.message {
    @apply z-10 font-medium bg-gray-700 rounded-full text-white py-4 px-6;
    animation: messageFadeIn 5s ease-in-out forwards;
    &.error {
        @apply bg-red-700;
    }
    &.info {
        @apply bg-blue-700;
    }
    &.success {
        @apply bg-green-700;
    }
    &.warning {
        @apply bg-orange-700;
    }
}

@tailwind utilities;