{% extends 'base.html' %}

{% block page_title %}
    Change Password
{% endblock page_title %}

{% block search-bar %}{% endblock search-bar %}

{% block content %}

    <div class="wrap-user">

        {% include 'mixins/auth/auth_form.html' with form=form cta="Update Password" %}

        <div class="mt-4 text-sm w-full text-center">
            <span class="mr-2"><a href="{% url 'users:change-password' %}" class="text-teal-600 font-bold">Change Password</a>
        </div>
    </div>

{% endblock content %}