{% extends 'base.html' %}

{% block page_title %}
    Login
{% endblock page_title %}

{% block search-bar %}{% endblock search-bar %}

{% block content %}
    <div class="container mx-auto flex flex-col w-96 items-center border border-gray-400 mt-12 p-8">

        {% include 'partials/social_login.html' %}

        <form method="POST" action="{% url 'users:login' %}" class="w-full mt-2">
            {% csrf_token %}
            <input type="email" name="username" class="c-btn-full text-left px-6 focus:outline-teal-500 placeholder:focus:outline-2 border-gray-400" placeholder="Email Address" />
            <input type="password" name="password" class="c-btn-full text-left px-6 focus:outline-teal-500 placeholder:focus:outline-2 border-gray-400" placeholder="Password" />
            <button class="c-btn-full bg-red-600 text-white border-red-900">Log In</button>
        </form>

        <div class="mt-4 text-sm w-full">
            <span class="mr-2">Dont't have an account?</span><a href="{% url 'users:signup' %}" class="font-bold">Sign up</a>
        </div>
    </div>

{% endblock content %}