{% extends 'base.html' %}

{% block page_title %}
    Login
{% endblock page_title %}

{% block search-bar %}{% endblock search-bar %}

{% block content %}
    <div class="container mx-auto flex flex-col w-96 items-center border border-gray-400 mt-12 py-8 px-4">
        {% include 'partials/social_login.html' %}
        
        <form method="POST" action="{% url 'users:login' %}">
            {% csrf_token %}
            {{form.as_p}}
            <button>Log In</button>
        </form>
    </div>

{% endblock content %}