{% extends 'base.html' %}

{% block page_title %}
    Sign Up
{% endblock page_title %}

{% block search-bar %}{% endblock search-bar %}

{% block content %}

    <div class="wrap-user">

        {% include 'partials/social_login.html' %}

        {% include 'mixins/auth/auth_form.html' with form=form cta="Sign up" %}

        <div class="mt-4 text-sm w-full">
            <span class="mr-2">Have an account?</span><a href="{% url 'users:login' %}" class="font-bold">Log in</a>
        </div>
    </div>

{% endblock content %}