{% extends 'base.html' %}

{% block page_title %}
    Sign Up
{% endblock page_title %}

{% block search-bar %}{% endblock search-bar %}

{% block content %}

    <div class="wrap-user">

        {% include 'partials/social_login.html' %}

        <form method="POST" action="{% url 'users:signup' %}" class="w-full mt-2">
            {% csrf_token %}

            {{form.non_field_errors}}

            {% for field in form %}
            <div class="row-input {% if field.errors %}has-error{% endif %}">
                {{field}}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <span role="alert" aria-atomic="true" class="text-red-700 text-sm font-bold">{{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>            
            {% endfor %}

            <button class="c-btn-full bg-red-600 text-white border-red-900">Sign Up</button>
        </form>

        <div class="mt-4 text-sm w-full">
            <span class="mr-2">Have an account?</span><a href="{% url 'users:login' %}" class="font-bold">Log in</a>
        </div>
    </div>

{% endblock content %}