{% extends 'base.html' %}

{% block page_title %}
    {{user.first_name}}'s Profile
{% endblock page_title %}

{% block content %}

    <div class="wrap-user mb-12">
        {% include 'mixins/user_avatar.html' with user=user_obj %}

        <h3 class="font-bold text-2xl my-4">
            {{user_obj.first_name}}
            {% if user_obj.is_superhost %}
                <i class="fas fa-check-circle ml-2 text-teal-500"><span class="sr-only">Super Hosts</span></i>
            {% endif %}
        </h3>

        {% if user_obj.bio %}
        <p class="whitespace-pre-line mb-4">{{user.bio}}</p>
        {% endif %}

        {% if user == user_obj %}
        <a href="{% url 'users:update' %}" class="c-btn-link">Edit Profile</a>
        {% endif %}
    </div>

    {% if user_obj.rooms.count > 0 %}
    <div class="container mt-8">
        {% include 'partials/device-line.html' with title=user_obj.first_name|add:"'s Rooms" h_level="h3" %}
        <div class="flex flex-wrap mt-8">
            {% for room in user_obj.rooms.all %}
                {% include 'partials/room_card.html' %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

{% endblock content %}